@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    display: flex;
    background-color: white;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    text-decoration: none;
}

.item1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #f9faf8;
    background-color: #1F2937;
    list-style: none;
    padding: 5px;
    gap: 2rem;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    padding-bottom: 50px;
}

.item2 {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    color: #f9faf8; */
    list-style: none;
    padding: 5px;
    /* gap: 2rem; */
    padding-left: 100px;
    padding-right: 100px;
    align-items: start;
    flex-basis: 40%;
    padding-bottom: 50px;
}

.bigitem2 {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
}

.minilist {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.HeroName {
    font-size: 24px;
    font-weight: 800;
}

.hliks {
    font-size: 18px;
    color: #E7e5eb;
    text-decoration: none;
}

#heromaintext   {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

#herosubtext {
    font-size: 18px;
    color: #e5e7eb;
}

#placeholder {
    flex-basis: 60%;
    background-color: #1F2937;
    width: auto;
    margin-right: 100px;
    margin-bottom: 50px;
    border: 1px solid white;
    border-radius: 15px;
}

.btn1 {
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #3882F6;
    display: inline-block;
    border-radius: 10px;
    box-shadow: none;
    height: min-content;
    transition: background-color 0.3s ease-in-out;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-grow: 0;
    flex-shrink: 1;
}

.btn1:hover {
    background-color: #275aad;
}

.item3 {
    display: flex;
    flex-direction: column;
}

.small3 {
    display: flex;

    flex-grow: 0;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}

#blueplaceholder {
    height: 150px;
    width: 150px;
    border: 4px #3882F6 solid;
    border-radius: 20px;
}

.item3 #bigtext {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 50px;
}

.smaller3 {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    width: min-content;
    text-align: center;
}

.item4 {
    background-color: #e5e7eb;
}

.quote {
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
    text-align: center;
    margin: 25px;
    margin-top: 175px;
    margin-bottom: 50px;
    width: auto;
}

.refer {
    color: #1f2937;
    text-align: right;
    font-weight: 800;
    font-size: 32px;
    margin-right: 75px;
}

.item5 {
    background-color: white;
    height: 400px;
    width: auto;
}

.smaller5 {
    box-sizing: border-box;
    background-color: #3882F6;
    height: 200px;
    width: auto;
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.callactiontext #on {
    color: white;
    font-weight: 800;
    font-size: 32px;

}

.callactiontext #tw {
    color: #e5e7eb;
    font-weight: 300;
    font-size: 24px;
}

.callactionbtn {
    text-decoration: none;
    text-align: center;
    border: 3px solid white;
    color: white;
    background-color: #3882F6;
    display: inline-block;
    border-radius: 10px;
    box-shadow: none;
    height: min-content;
    transition: background-color 0.3s ease-in-out;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.callactionbtn:hover {
    background-color: #ffffff63;
}

.item6 {
    background-color: #1F2937;
    color: white;
    text-align: center;
    font-size: 24px;
}